* {
    margin: 10px 20px 10px 20px;
    padding: 10 20px 10 20px;
    font-family:cursive;
    ;
    font-size: 15px;
  

}


.title1{
    background-color: 	#ff8c66;
   
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-transform: uppercase;
    font-size: 40px;
    color: #002266;
}


.title2{
    background-color: 	#ff8c66;
    
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-transform: uppercase;
    font-size: 40px;
    color: #002266;

}


 

.title3 {
    background-color: 	#ff8c66;
    
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-transform: uppercase;
    font-size: 40px;
    color: #002266;

}





.name-span {

    color: lawngreen;
    font-family:cursive;
}
body {
    background-color: #ffb366		;
}
nav {
    background-color: #ffd966	;
    padding: 10px;
}



nav ul li a {
    text-decoration: none;
    padding-left: 20px;
}

nav ul li {
    display: inline;
    color: aliceblue;
}
ul li :hover{
    background-color: #ff6666;
    padding: 10px;
}

.bio {
    width: 90%;
    color:white	;
    font-weight: bolder;
    font-size: 10px;
    margin: auto;
    padding: 20px;
    background-color: #ff6666	;
    text-transform: uppercase;


}

.bio1 {
    font-size: 70px;

}
.bio-para {
    float: left;
    width: 75%;
}

.bio img {
    width: 200px;
}

aside {
    float: right;
}

footer {
    color: white;
    background-color: black;
}


